#addbookbtn, #delbookbtn, #updatebook, #updatebook1, #navigatebtn{
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 20;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

#logoutbtn, #backbtn {
    -fx-background-color: 
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

#tableView {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-alignment: center-left;
}

#loginbg{
	-fx-background-image:
        url("img1.jpg");
    -fx-background-size: stretch;
}

#signupbg{
	-fx-background-image:
        url("img2.jpg");
    -fx-background-size: stretch;
}

#commonbg{
	-fx-background-image:
        url("img3.jpg");
    -fx-background-size: stretch;
}

#tablebg{
	-fx-background-image:
        url("img4.jpg");
    -fx-background-size: stretch;
}